.direnv
*__pycache__
*generate_*.py
*drafts
*colab
*chunk_*.txt
*.chroma
*.pytest_cache
*models
*data
*wandb
*videos
*logs
secrets.toml
*attn_only_2L_half.pth
*othello_world*
*Grokking
*04_PPO.py
chapter3_training_at_scale/exercises/part2_dist_training/imagenet_38k.zip
*interp_on_model*.ipynb
*other_solns
*gitignore
